html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.wrap {
    width: 50vw;
    height: 50vh;
    min-height: 50vh;
    margin: auto auto;
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.wrap > .container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.users-list {
    overflow-y: auto;
    position: absolute;
    top: 105px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

h1 {
    border-bottom: 2px solid #ddd;
    font-size: 24px;
    margin-top: 0;
    padding-bottom: 6px;
}

label[for="sortInput"] {
    margin-left: 30px;
}

.search-input {
    max-width: 100%;
    width: 200px;
    display: inline-block;
}

.form-group {
    display: inline-block;
    margin-bottom: 10px;
}

.options-block {
    text-align: right;
    border-bottom: 2px solid #ddd;
}

.options-block > .form-group:first-child {
    float: left;
}

.message,
.error-message {
    position: fixed;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
    opacity: 1;
    border-radius: 5px;
}

.message {
    color: rgb(0, 189, 15);
}

.error-message {
    color: rgb(255, 77, 58);
}

.message.ng-hide-add,
.error-message.ng-hide-add {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.message.ng-hide-add.ng-hide-add-active,
.error-message.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.message.ng-hide-remove,
.error-message.ng-hide-remove {
    opacity: 0;
    transition: all 0.5s ease;
}

.message.ng-hide-remove.ng-hide-remove-active,
.error-message.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
